{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "import"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-inferrable-types": ["error", {
      "ignoreParameters": true
    }],
    "import/order": ["error", {
      "groups": [
        "index",
        "sibling",
        "parent",
        "internal",
        "external",
        "builtin",
        "object"
      ]
    }]
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".d.ts"]
    }
  }
}
